<h1 class="text-center text-dark">Carrito de Compras</h1>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Libro</th>
      <th>Cantidad</th>
      <th>Valor Unitario</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of cart; index as i">
      <td>{{ i + 1 }}</td>
      <td class="d-flex align-items-start">
        <img [src]="book.cover" alt="" class="thumbnail mr-1" />
        {{ book.name }}
      </td>
      <td>
        {{ book.quantity }}
      </td>
      <td>
        {{ book.unitValue | currency }}
      </td>
      <td>
        {{ (book.unitValue * book.quantity) | currency }}
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="4">
        <h2 class="text-secondary font-weight-bold">Total {{ 100000 | currency }}</h2>
      </th>
      <th class="d-flex justify-content-end">
        <button class="btn btn-primary"><span class="material-icons mr-1">payment</span> Pagar</button>
      </th>
    </tr>
  </tfoot>
</table>
